


.form-review {

    margin-top: 20px;
    background-color: #153942 ;
    padding: 10px 60px 60px 60px   ;
    border-radius: 10px;

    .reviw-entries{

        h3{
            color: white;
        }

        h5{
            color: white;
        }

        p { 
            margin-left: 12px;
            color: #00ccff;
        }
      
    }


}