.landing {

    margin-top: 30px;
        .landing-container{
            display: inline-block;
            padding-bottom: 40px;
           
            .head-message{
                color: #07202f;
                backdrop-filter: blur(4px);
                padding: 5px;
                border-radius: 50px;
            }
            .typing { 
                color: #153942;
            }
    
        }

        .steps-container{
            .steps{
                margin-top: 60px;
                padding: 20px;
                background-color: #15394296;
                border-radius: 10px;
               li{
                font-size: 22px;
                color: white;
                margin-bottom: 10px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                &:hover {
                    transform: scale(1.1);
                    color: #153942;
                }
            }
            }
        }

        .footer {
            width: 100%;
            background-color: #153942;
         
            
            .footer-container-wrapper{

                padding: 10px 20px;

                .footer-container{
                   
                  h3{
                      color: white;
                      font-family:'Times New Roman', Times, serif;
                  }
                  p{
                      color: white;
                      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  }
      
                .links-container{
                    padding-left: 40px;
                    .links {
                        display: flex;
                        justify-content: start;
                        ul {
                           
                             li{
                                list-style: square;
                                color: white;
                                margin-left: 20px;

                                    margin-bottom: 5px;
                                a{
                                    color: white;
                                }
                             }
                        }
                     }
                }
                }

            }

         
        }
 }