
.thank-user{

    height:100vh;

    h3{
        color:$color-secondary;
        margin-top:100px;



        backdrop-filter: blur(6px);
        padding: 10px;
        border-radius: 50px;
        font-size: 3rem;
        font-weight: bold;
        font-family: 'Merriweather', serif;
    }
}